
.menu-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#111;
color:#fff;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:30px;
font-size:24px;
transform:translateY(-100%);
transition:0.4s;
z-index:2000;
}

.menu-overlay.show{
transform:translateY(0);
}

.menu-overlay a{
color:#fff;
text-decoration:none;
}
